<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <link rel="stylesheet" href="template.css">
    <meta charset="UTF-8">
    <title>Log Table</title>
</head>

<body>

    <h2>Logs <button id="btn-export-pdf"> Export PDF </button> </h2>

    <div id="log-section">
        <input type="text" id="searchInput" onkeyup="filterArrayBySearchTerm()" placeholder="filter logs...">

        <div id="spawnFilters"> </div>

        <table id="logTable">
            <thead>
                <tr id="trSpawnColums"></tr>
            </thead>
            <tbody id="logTableRows"> </tbody>
        </table>


        <div id="pagination-numbers" class="pagination-numbers"> </div>

        <div id="pagination" class="pagination">
            <button class="page-btn" onclick="changePage(-1)">Previous</button>
            <button class="page-btn" onclick="changePage(1)">Next</button>
        </div>

    </div>

    <div id="drop-file-section">
        <h1 class="text-xl font-semibold text-gray-800 mb-4">Carica File JSON</h1>

        <div id="dropZone" class="drop-zone">
            <p>Trascina il file qui</p>
            <p class="text-sm text-gray-500 mt-2">o clicca per selezionare</p>
            <input type="file" id="jsonFileInput" accept="application/json, .json">
        </div>

        <div id="fileMessage" class="message">
            Seleziona un file per iniziare.
        </div>
    </div>
    <div id="output"></div>

    <div id="loadingSpinner" class="loading-overlay">
        <div class="spinner"></div>
    </div>

    <script type="module" src="template.js"></script>
    <script src="logs_data.js" defer></script>
</body>

</html>