<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <link rel="stylesheet" href="template.css">
    <meta charset="UTF-8">
    <title>Log Table</title>

</head>

<body>

    <h2>Logs <button onclick="exportToPDF()"> Export PDF </button> </h2>
    <input type="text" id="searchInput" onkeyup="filterArrayBySearchTerm()" placeholder="filter logs...">
    <table id="logTable">
        <thead>
            <tr>
                <th>Site</th>
                <th>IP Address</th>
                <th>Date</th>
                <th>Time</th>
                <th>Message</th>
                <th>Status code</th>
            </tr>
        </thead>
        <tbody id="logTableRows"> </tbody>
    </table>


    <div id="pagination_number" class="pagination_number">

    </div>

    <div id="pagination" class="pagination">
        <button class="page-btn" onclick="changePage(-1)">Previous</button>
        <button class="page-btn" onclick="changePage(1)">Next</button>
    </div>

    <script src="template.js"></script>

    <script>
        const logs = JSON.parse(`{{.LogsJSON}}`);
        init(logs)
    </script>

</body>

</html>